{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Django-ng</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'> 
  <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<app-root></app-root>
	<script type="text/javascript" src="{% static 'angular-build/runtime.js' %}"></script>
	<script type="text/javascript" src="{% static 'angular-build/polyfills.js' %}"></script>
	<script type="text/javascript" src="{% static 'angular-build/main.js' %}"></script>
</body>

</html>